html,p,a,h1,h2,h3,h4,h5,h6,ul,ol,li,span,body,div,img,table,tr,td,form{
	padding:0;
	margin:0px;
	font-family:"微软雅黑";
}

.col-md-child{
	height: 615px;
	width: 150px;
	background-color: #eaedf1;
	color:#333;
/*	display: none;*/
}

.menue-title{
	width: 150px;
	height: 60px;
	background-color: #d9dee4;

}
.menue-title {
	color:#703333;
	line-height: 60px;
	padding-left: 10px;
	font-weight: bold;
}
.left-item-child li{
	height: 30px;
	width: 150px;

}
.left-item-child .left-list{
	line-height: 30px;
	padding-left: 20px;
	color:#333;

}
.left-item-child li:hover{
	background-color: #fff;

}
.tri-3{
	display: block;
	float: left;
	margin-top: 7px;
	margin-right: 2px;
}
.left-item-child-list li{
	margin-left: -40px;
	padding-left: 40px;
}
.col-md-child-11{
	position: relative;
}
.close-img{

	position: absolute;
	top:300px;
}
.tree-root-hover:hover{
	background-color:#fff;
}
.selected {
	background-color: #fff;
	}