<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" http-equiv="Access-Control-Allow-Origin"
	content="*">
<title>恒泰能联</title>
<link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
<script type="text/javascript" src="./js/common/global.js"></script>

</head>
<body ng-app="homeApp">
	<nav class="navbar navbar-default"
		style="position: fixed; top: 0px; width: 100%; z-index: 999;">
		<div class="container-fluid navbar">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<!-- logo图片 -->
				<a class=" navbar-brand" href="http://www.techstar.com.cn/"
					target=view_blank"> <img class="logo" src="./img/logo.png"
					alt="恒泰能联">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">

					<!--  <li><a class="item" href="http://www.techstar.com.cn/" target=view_blank>恒泰能联</a></li> -->
					<li class="dropdown"><span class="dropdown-toggle dt-span"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> 控制台 <span class="caret"></span>

					</span>
						<ul class="dropdown-menu" ng-model="sysList">
							<li ng-repeat="sys in sysList"><a href="{{sys.sysUrl}}">{{sys.sysName}}</a></li>
						</ul></li>
				</ul>

				<ul class="nav navbar-nav navbar-right">
					<!--  <li><a class="item" href="http://www.techstar.com.cn/" target=view_blank>北京恒泰实达科技股份有限公司</a></li> -->

					<li class="dropdown"><span class="dropdown-toggle dt-span"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> <img class="img-phone1"
							src="./img/phone.png" alt="移动用户端"> <img class="img-phone2"
							src="./img/phone2.png" alt="移动用户端"> <span class="mobil-pc">移动客户端</span>
					</span>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li><a href="#">Separated link</a></li>
						</ul></li>

					<li class="dropdown"><span class="dropdown-toggle dt-span"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false"> <img class="img-phone1"
							src="./img/help.png" alt="帮助与文档"> <img class="img-phone2"
							src="./img/help2.png" alt="帮助与文档"> <span class="mobil-pc">帮助与文档</span>

					</span>
						<ul class="dropdown-menu">
							<li><a href="#">新版FAQ</a></li>
							<li><a href="#">帮助与文档</a></li>
							<li><a href="#">论坛</a></li>

						</ul></li>

				</ul>

			</div>
			<!-- /.navbar-collapse -->

		</div>
		<!-- /.container-fluid -->

	</nav>
	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-md-2 column col-md-2-1 "
				style="padding-left: 0px; z-index: 99; border: 1px solidd #333;">
				<div class="accordion" id="accordion-636066"
					style="position: fixed; top: 60px; bottom: 0px; float: left;">
					<div class="accordion-group">
						<div class="sidebar icon-left">
							<div class="icon-left">
								<img src="./img/suo.png" alt="缩藏图标">
							</div>
						</div>
						<div class="sidebar icon-right">
							<div class="icon-right">
								<img src="./img/suo.png" alt="缩藏图标">
							</div>
						</div>

						<!--主菜单 -->
						<div class="accordion-body collapse in" id="accordion-element-89280">
							<div
								class="accordion-inner accordion-inner-11 accordion-inner-112 clearfix systems">
								<a id="cm" class="clearfix child-menu" href="#/rpcServerList">RPC服务列表 </a>
							</div>
							
							<div
								class="accordion-inner accordion-inner-11 accordion-inner-112 clearfix systems">
								<a id="cm" class="clearfix child-menu" href="#aplNodeList">应用节点列表 </a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-10 column col-md-10-2"
				style="z-index: 0; margin-top: 60px;">

				<!-- 内容区域 -->
				<div align="left" ng-view></div>
			</div>
		</div>
	</div>
	<script>
		$(".icon-left").click(function(){
			$(".col-md-2").addClass("col-md-1");
			$(".col-md-2").addClass("col-md-1-1");
			$(".col-md-1").removeClass("col-md-2");
			$(".col-md-1").removeClass("col-md-2-1");
			$("#accordion-636066").css("width","4%");
			$(".little-font").css("display","none");
			$(".little-font-1").css("display","none");
			$(this).css("display","none");
			$(".icon-right").css("display","block");
			$(".little-pic-1").css("margin-left","-20px");
			$(".little-pic-2").css("margin-right","-16px");
			$(".col-md-10").addClass("col-md-11");
			$(".col-md-10").addClass("col-md-11-2");
			$(".col-md-11").removeClass("col-md-10");
			$(".col-md-11").removeClass("col-md-10-2");
			
		})
		$(".icon-right").click(function(){
			$(".col-md-1").addClass("col-md-2");
			$(".col-md-2").addClass("col-md-2-1");
			$(".col-md-2").removeClass("col-md-1");
			$(".col-md-2").removeClass("col-md-1-1");
			$("#accordion-636066").css("width","14%");
			$(".little-font").css("display","block");
			$(".little-font-1").css("display","block");
			$(this).css("display","none");
			$(".icon-left").css("display","block");
			$(".little-pic-1").css("margin-left","0px");
			$(".little-pic-2").css("margin-right","-23px");
			$(".col-md-11").addClass("col-md-10");
			$(".col-md-10").addClass("col-md-10-2");
			$(".col-md-10").removeClass("col-md-11");
			$(".col-md-10").removeClass("col-md-11-2");
			
			
		})
		
</script>
	<script type="text/javascript" src="./js/home.js"></script>	
	<script type="text/javascript" src="./js/common/menu.js"></script>
	<script type="text/javascript" src="./js/nodelist.js"></script> 
	<script type="text/javascript" src="./js/aplNodeList.js"></script> 
	<!-- <script type="text/javascript" src="./js/1.js"></script> -->
</body>
</html>